/* Everything
-------------------------------------------------------------- */
html { font-size:100.01%; background:#fff }
body, select, input, textarea { color:#444; padding: 0em; margin: 0em; } 
a { color: #4fa8ff; text-decoration: none; }
.pink { color: #ff4fac }
.blue { color: #4fa8ff }

/* Headings
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6 { font-weight: normal; }

h1 { font-size: 1.8em; line-height: 1; margin-bottom: 0.2em; }
h2 { font-size: 1.5em; margin-bottom: 0.2em; }
h3 { font-size: 1.2em; margin-bottom: 0.2em; font-weight: bold;}
h4 { font-size: 0.7em; line-height: 1; margin-bottom: 1em; }
h5 { font-size: 0.5em; line-height: margin-bottom: 1.25em; }
h6 { font-size: 0.2em; font-weight: bold; margin-bottom: 1.5em; }

h1 img, h2 img, h3 img,
h4 img, h5 img, h6 img { margin: 0; }

/* Forms
-------------------------------------------------------------- */
fieldset.left { float: left; width: 27%; }
fieldset.right { float: right; width: 67% }
fieldset label { font-size: 1.0em; margin: 1.5em 0em; }
fieldset input, fieldset textarea { height: 2.0em; border: 1px #444 solid;
                                    background: #dfdfdf; width: 100%; 
                                    margin-bottom: 1.5em; padding: 0.2em; 
                                    -webkit-border-radius: 3px; -moz-border-radius: 3px;
                                    border-radius: 3px;
                                  }
fieldset textarea { height: 10em; }

div.actions input { width: 8em; float: right; }

/* Header
-------------------------------------------------------------- */
#header { height: 3.5em; }
#logo { position: absolute; top: 1.3em; left: 1.3em; padding-right: 0.0em; height: 3.0em; }
#logo a { text-decoration: none }
#search { position: absolute; top: 1.4em; right: 1.3em; padding-right: 0.0em; height: 3.0em; }
#search input { font-size: 1.1em; }

/* Navigation
-------------------------------------------------------------- */
#nav { border-top: 2px solid #4fa8ff; border-bottom: 2px solid #4fa8ff; height: 1.8em; }
#nav ul li {  float:left; display:block; height: 2em; font-size: 1.0em; 
              line-height: 1.8em; margin: 0em 1.5em; font-weight: bold;  }
#nav .last { float: right }

/* Content
-------------------------------------------------------------- */
#content { margin: 0.7em 1.5em; clear: left }

/* Page Specifics
-------------------------------------------------------------- */
#items_home       { text-align: center; }
#items_home .tags { margin: 0.5em 4em 2em 4em; }
#items_home input { font-size: 1.1em; }

/* Tag clouds
-------------------------------------------------------------- */
.css1 { font-size: 0.6em; }
.css2 { font-size: 0.8em; }
.css3 { font-size: 1.0em; }
.css4 { font-size: 1.2em; }

/* Items
-------------------------------------------------------------- */
.items { border-top: 1px solid #ddd; margin: 0.5em 0em; }
.item  { border-bottom: 1px solid #ddd; margin: 0.5em 0em; clear: right; }
.item .shop { float: right; width: 16em;}

/* Footer
-------------------------------------------------------------- */
#footer { border-top: 2px solid #4fa8ff; border-bottom: 2px solid #4fa8ff; height: 1.8em; margin-top: 2em; clear: both; }
#footer h3 { float:left; display:block; height: 2em; font-size: 1.0em; line-height: 1.8em; margin-left: 1.5em }
