<h2>Results of your search for '<%= params[:term] %>'</h2>
<%= render :partial => 'item',
  :collection => @items, 
  :as => :item
  %>

<div class="hlisting">
  <%= will_paginate @items %>
</div>

<% if @items.empty? %>
  Sorry! We don't have anything matching "<%= params[:term] %>".
<% end %>
